Package: com.xwz.enhancedcryptologger
Name: Enhanced Crypto Logger
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An enhanced crypto logger with UI and export features.
Maintainer: YourName
Author: YourName
Section: Tweaks

